[Unit]
Description=Dancing lights service
After=multi-user.target

[Service]
Type=simple
ExecStart=/home/martyni/Envs/hue/bin/python /home/martyni/Envs/hue/hue/hue.py

StandardInput=tty-force

[Install]
WantedBy=multi-user.target
